<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    
    <title>AdminLogin</title>
</head>
<body style="background-image: url(public/images/adminbg.jpg); background-repeat: no-repeat;background-size: 100% 100%;">

    
                    <div class="container">

                            <div class="row col-md-3 col-md-offset-4 box" style="margin-top: 20%;">

                                <form action="/loginadmin" method="post" >
                                            <h2 style="text-align: center; color: #337ab7;"><i class="fas fa-sign-in-alt"></i> Admin Connexion</h2>

                                            <div class="col-lg-12">
                                                <label for="email">Email</label>
                                                <input type="text" name="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="col-lg-12">
                                                    <label for="password">Password</label>
                                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                                    <br>
                                                    <input class="col-lg-12 btn btn-primary" type="submit">
                                            </div>
                                </form>
                            </div>
                        </div>
    <br>
    
   
    <script src="public/js/bootstrap.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/jquery-3.3.1.js"></script>
    <script src="public/js/jquery-3.3.1.min.map"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</body>
</html>