<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    

    
    <title>Acceuil</title>
</head>
<body class="bg-inverse">
    <nav class="navbar pull-right" style="margin-bottom:0px; background: black;" >
        <ul class="nav navbar-nav"style="margin-bottom:0px;">
            <li><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="/realisation"><i class="fas fa-wrench"></i>  Realisation</a></li>
            <li><a href="/connexion"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
            <li><a href="/inscription"> <i class="fas fa-user-plus"></i> incription</a></li>
        </ul>
    </nav>
    <section>
        <div class="main">
            <img src="public/images/garage.jpg" alt="">
        </div>
    </section>

    <section class="container ">
        
        <div class="">
                <h1 class="titre">Pourquoi nous choisir ?</h1>
                    <div class="col-md-3 ">
                        <h1 class="titre"><i class="fas fa-car"style="color: #FA8072;"></i></h1>
                        <h4 class="titre"> <strong>Nos locaux</strong></h4>
                        <p style="text-align:center;color: #2E86C1;">Nous disposons d'une superficie de m2 avec toutes les commodites pour recevoir vos vehicules</p>
                    </div>
                    <div class="col-md-3 ">
                        <h1 class="titre"><i class="fas fa-wrench" style="color: #FA8072;"></i></h1>
                            <h4 class="titre"><strong>Nos equipements</strong></h4>
                            <p style="text-align:center;color: #2E86C1;">Nos faisons la difference car nous avons les equipements adequats pour vos travaux</p>
                    </div>
                    <div class="col-md-3 ">
                            <h1 class="titre"><i class="fas fa-key"style="color: #FA8072;"></i></h1>
                            <h4 class="titre"><strong>Main d'oeuvre </strong></h4>
                            <p style="text-align:center;color: #2E86C1;">Nos ouvriers sont diplomés des centres professionnels ivoiriens</p>
                    </div>
                    <div class="col-md-3 ">
                            <h1 class="titre"><i class="fas fa-money-check"style="color: #FA8072;"></i></h1>
                            <h4 class="titre"><strong>Nos Assurances</strong></h4>
                            <p style="text-align:center; color: #2E86C1;">Assurance Multirisque Professionnelle
Assurance Responsabilité civile Professionnelle</p>
                    </div>
        </div>
    </section>
    <section class="container barre">
        <div >
            <h1 class="titre">Nos partenaires</h1>
            <div class="col-sm-2 partenaires"><img src="public/images/gma.jpg" alt=""></div>
            <div class="col-sm-2 partenaires"><img src="public/images/airci.jpg" alt=""></div>
            <div class="col-sm-2 partenaires"><img src="public/images/allianz.jpg" alt=""></div>
            <div class="col-sm-2 partenaires"><img src="public/images/sodemi.jpg" alt=""></div>
            <div class="col-sm-2 partenaires"><img src="public/images/solibra.jpg" alt=""></div>
        </div>
    </section>
    <br>
    <section class="section">
        <div class="container-fluid">
            <h1 class="titre" >Nos Cordonnées</h1>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Contact & Horaire</h4>
                <p><i class="fas fa-map-marker-alt"></i>    Angré Gestoci,non loin du CHU angré</p>
                <p><i class="fas fa-phone"></i> +225 49792733</p>
                <p><i class="fas fa-phone"></i> +225 40221520</p>
                <p><i class="fas fa-envelope"></i>  bassolehermann@gmail.com</p>
                <p><i class="far fa-clock"></i> 7j/7   24h/24</p>
            </div>
            <div class="col-sm-6 "style="border-right:1px solid white;border-left: 1px solid white;">
                <h4 class="titre" style="text-decoration:underline;" >Localisation</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.1051845029083!2d-3.9594970849227566!3d5.400943096082718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1933d4b2186d5%3A0xf64a1036251b83a4!2snouveau+CHU+angre!5e0!3m2!1sfr!2sci!4v1557743058050!5m2!1sfr!2sci" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Reseaux Sociaux</h4>
                <ul>
                    <li style="list-style: none;"><i class="fab fa-facebook-f"></i>   FaceBook</li>
                    <li style="list-style: none;"><i class="fab fa-twitter"></i>  Twitter</li>
                    <li style="list-style: none;"><i class="fab fa-instagram"></i>    Instragram</li>
                    <li style="list-style: none;"><i class="fab fa-youtube"></i>  Youtube</li>
                </ul>
            </div>
        </div>
    </section>
    <script src="public/js/bootstrap.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/jquery-3.3.1.js"></script>
    <script src="public/js/jquery-3.3.1.min.map"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</body>
</html>