<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="public/bootstrap-3.2.0-dist/js/jquery-1.10.2.js"></script> 
<script src="public/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
    <title>Document</title>
</head>
<body>
        <div class="back" >
                <nav class="navbar pull-right" >
                    <ul class="nav navbar-nav"style="margin-bottom:0px;background:black;">
                        <li><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
                        <li><a href="/realisation"> <i class="fas fa-wrench"></i> Realisation</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container-fluid font">
                 <h1 style="margin-top: 100px;color: #FA8072;">Nos réalisations></h1>
            </div>
        <div class="container">
        <div id="exemple-diaporama" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover"> 

        <ol class="carousel-indicators"> 
          <!-- classe active pour déterminer la première image du diaporama -->
          <li data-target="#exemple-diaporama" data-slide-to="0" class="active"></li> 
          <li data-target="#exemple-diaporama" data-slide-to="1"></li> 
        </ol> 

        
        
        <div class="carousel-inner"  > 

            <!-- classe active pour déterminer la première image du diaporama -->
            <div class="item active"> 
              <img src="public/images/av1.jpg" alt=""  > 
              <div class="carousel-caption"> 
              <h3>Avant</h3> 
              </div> 
            </div> 


            <div class="item"> 
              <img src="public/images/ap1.jpg" alt=""> 
              <div class="carousel-caption"> 
              <h3>Après</h3> 
              </div> 
            </div>


        </div>
        <a class="left carousel-control" href="#exemple-diaporama" data-slide="prev"> 
        <span class="glyphicon glyphicon-chevron-left"></span> 
        </a> 
        
        <a class="right carousel-control" href="#exemple-diaporama" data-slide="next"> 
        <span class="glyphicon glyphicon-chevron-right"></span> 
        </a> 
    </div>
</div>

    <section class="section">
        <div class="container-fluid">
            <h1 class="titre" >Nos Cordonnées</h1>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Contact & Horaire</h4>
                <p><i class="fas fa-map-marker-alt"></i>    Angré Gestoci,non loin du CHU angré</p>
                <p><i class="fas fa-phone"></i> +225 49792733</p>
                <p><i class="fas fa-phone"></i> +225 40221520</p>
                <p><i class="fas fa-envelope"></i>  bassolehermann@gmail.com</p>
                <p><i class="far fa-clock"></i> 7j/7   24h/24</p>
            </div>
            <div class="col-sm-6 "style="border-right:1px solid white;border-left: 1px solid white;">
                <h4 class="titre" style="text-decoration:underline;" >Localisation</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.1051845029083!2d-3.9594970849227566!3d5.400943096082718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1933d4b2186d5%3A0xf64a1036251b83a4!2snouveau+CHU+angre!5e0!3m2!1sfr!2sci!4v1557743058050!5m2!1sfr!2sci" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-3">
                <h4 class="titre"style="text-decoration:underline;">Reseaux Sociaux</h4>
                <ul>
                    <li style="list-style: none;"><i class="fab fa-facebook-f"></i>   FaceBook</li>
                    <li style="list-style: none;"><i class="fab fa-twitter"></i>  Twitter</li>
                    <li style="list-style: none;"><i class="fab fa-instagram"></i>    Instragram</li>
                    <li style="list-style: none;"><i class="fab fa-youtube"></i>  Youtube</li>
                </ul>
            </div>
        </div>
    </section>


        <script src="public/js/bootstrap.js"></script>
        <script src="public/js/bootstrap.min.js"></script>
        <script src="public/js/jquery-3.3.1.js"></script>
        <script src="public/js/jquery-3.3.1.min.map"></script>
</body>
</html>